# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=idpanel_tikortindb
DB_USER=idpanel_salesdb
DB_PASS=Medan2016@

APP_NAME="TIKOR Support Map - PT. TALENTA INTEGRITAS NASIONAL"
APP_ENV=production